.one_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto1.jpg");
    background-size: cover;
}
.two_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto2.jpg");
    background-size: cover;
}
.three_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto3.jpg");
    background-size: cover;
}
.four_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto4.jpg");
    background-size: cover;
}
.five_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto5.jpg");
    background-size: cover;
}
.six_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto6.jpg");
    background-size: cover;
}
.seven_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto7.jpg");
    background-size: cover;
}
.eight_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto8.jpg");
    background-size: cover;
}
.nine_naruto{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/naruto/naruto9.jpg");
    background-size: cover;
}