.one_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/1.jpg");
    background-size: cover;
}
.two_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/2.jpg");
    background-size: cover;
}
.three_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/3.jpg");
    background-size: cover;
}
.four_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/4.jpg");
    background-size: cover;
}
.five_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/5.jpg");
    background-size: cover;
}
.six_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/6.jpg");
    background-size: cover;
}
.seven_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/7.jpg");
    background-size: cover;
}
.eight_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/8.jpg");
    background-size: cover;
}
.nine_krd{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/krd/9.jpg");
    background-size: cover;
}