.one{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/1.jpg");
    background-size: cover;
}
.two{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/2.jpg");
    background-size: cover;
}
.three{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/3.jpg");
    background-size: cover;
}
.four{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/4.jpg");
    background-size: cover;
}
.five{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/5.jpg");
    background-size: cover;
}
.six{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/6.jpg");
    background-size: cover;
}
.seven{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/7.jpg");
    background-size: cover;
}
.eight{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/8.jpg");
    background-size: cover;
}
.nine{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/attak_of_titans/9.jpg");
    background-size: cover;
}